<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User chat</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="chat.js"></script>

</head>
<body>
    <h1 align="center">Messages</h1>
    <h3>No message yet..</h3>
    <div class="message_holder"></div>

    <form action="" method="POST">
      <input type="text" class="User" placeholder="User Name"/>
      <input type="text" class="Message" placeholder="Messages"/>
      <input type="submit"/>
    </form>

</body>
</html>